<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Booking Platform</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">Travel Master</div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Hotels</a></li>
                <li><a href="#">Flights</a></li>
                <li><a href="/login">Sign In/Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <!-- Home Page -->
    <main>
        <section class="search-bar">
            <input type="text" id="destinationInput" placeholder="Enter City">
            <input type="date" id="checkInDateInput">
            <input type="date" id="checkOutDateInput">
            <input type="number" id="guestsInput" placeholder="Guests">
            <button onclick="search()">Search</button>
        </section>
        
        <section class="featured-destinations">
            <h2>Featured Destinations</h2>
            <div class="destination">Destination 1</div>
            <div class="destination">Destination 2</div>
            <div class="destination">Destination 3</div>
        </section>

        
    </main>

    <!-- Footer -->
    <footer>
        <div>Contact Information</div>
        <div>About Us</div>
        <div>Social Media Links</div>
    </footer>

    <!-- JavaScript -->
    <script src="assets/script.js"></script>
    {{#if logged_in}}
    <script src="/public/js/logout.js"></script>
    {{/if}}
    
</body>
</html>
