<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Master - Search Results</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/public/js/results.js"></script>
    <script src="/public/assets/script.js"></script>

</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">Travel Master</div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Hotels</a></li>
                <li><a href="#">Sign In/Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <!-- Search Results Page -->
    <main>
        <section class="search-results">
            <h2>Search Results</h2>
            <div class="result-category">
                <h3>Destination</h3>
                <div id="destinationResults"></div>
            </div>
            <div class="result-category">
                <h3>Hotels</h3>
                <div id="hotelResults" class="results-list"></div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <div>Contact Information</div>
        <div>About Us</div>
        <div>Social Media Links</div>
    </footer>

    
</body>
</html>
